<h3>Gasto
  <div class="pull-right" ng-show="!formGasto.$visible">
    <button class="btn btn-primary" ng-click="formGasto.$show()" title="editar">
      <span class="glyphicon glyphicon-edit"></span>
    </button>
    <button class="btn btn-danger" ng-click="gasto.eliminarGasto(gasto.gasto.id)" title="eliminar">
      <span class="glyphicon glyphicon-trash"></span>
    </button>
  </div>
</h3>
<p>
  <table class="table">
    <tbody>
      <tr>
        <td>Lugar:</td>
        <td>
          <span editable-text="gasto.gasto.lugar" e-name="lugar" e-form="formGasto" e-required>
            {{ gasto.gasto.lugar }}
          </span>
        </td>
      </tr>
      <tr>
        <td>Fecha:</td>
        <td>
          <span editable-date="gasto.gasto.fecha" e-name="fecha" e-form="formGasto" e-required>
            {{ gasto.gasto.fecha | date: 'shortDate' }}
          </span>
        </td>
      </tr>
      <tr>
        <td>Precio:</td>
        <td>
          <span editable-text="gasto.gasto.precio" e-name="precio" e-form="formGasto" e-required>
            {{ gasto.gasto.precio | currency }}
          </span>
        </td>
      </tr>
      <tr>
        <td>Quien:</td>
        <td>
          <span editable-select="gasto.gasto.quien" e-name="quien" e-form="formGasto" e-ng-options="quien as quien for quien in gasto.quienes">
            {{ gasto.gasto.quien }}
          </span>
        </td>
      </tr>
      <tr>
        <td></td>
        <td>
          <form editable-form name="formGasto"
                onbeforesave="gasto.guardarGasto($data)"
                ng-show="formGasto.$visible" class="form-buttons form-inline">
            <button type="submit" ng-disabled="formGasto.$waiting" class="btn btn-primary" title="guardar">
              <span class="glyphicon glyphicon-ok"></span>
            </button>
            <button type="button" ng-disabled="formGasto.$waiting" ng-click="formGasto.$cancel()"
                    class="btn btn-default" title="cancelar">
              <span class="glyphicon glyphicon-remove"></span>
            </button>
          </form>
        </td>
      </tr>
    </tbody>
  </table>
</p>
<h3>Productos <button class="btn btn-primary pull-right" ng-click="gasto.agregarProducto();">
  <span class="glyphicon glyphicon-plus"></span>
</button></h3>
<div>
  <table class="table table-bordered table-hover table-condensed">
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Precio</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tr ng-repeat="producto in gasto.productos">
      <td>
        <span editable-text="producto.nombre" e-name="nombre" e-form="rowform" e-required>
          {{ producto.nombre }}
        </span>
      </td>
      <td>
        <span editable-number="producto.precio" e-step="00.00" e-name="precio" e-form="rowform" e-required>
          {{ producto.precio | currency }}
        </span>
      </td>
      <td style="white-space: nowrap">
        <form editable-form name="rowform"
              onbeforesave="gasto.guardarProducto($data, producto.id)"
              ng-show="rowform.$visible" class="form-buttons form-inline"
              shown="gasto.productoAInsertar === producto">
          <button type="submit" ng-disabled="rowform.$waiting" class="btn btn-primary" title="guardar">
            <span class="glyphicon glyphicon-ok"></span>
          </button>
          <button type="button" ng-disabled="rowform.$waiting" ng-click="rowform.$cancel()"
                  class="btn btn-default" title="cancelar">
            <span class="glyphicon glyphicon-remove"></span>
          </button>
        </form>
        <div class="buttons" ng-show="!rowform.$visible">
          <button class="btn btn-primary" ng-click="rowform.$show()" title="editar">
            <span class="glyphicon glyphicon-edit"></span>
          </button>
          <button class="btn btn-danger" ng-click="gasto.eliminarProducto($index, producto.id)" title="eliminar">
            <span class="glyphicon glyphicon-trash"></span>
          </button>
        </div>
      </td>
    </tr>
  </table>
</div>
